.Empresa {
  font-family: Roboto, serif;
  background: linear-gradient(to right, rgb(243, 243, 245), rgb(4, 20, 246));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Opcional para Firefox */
  background-clip: text;
  color: transparent;
  /*text-shadow: 2px 2px 4px #555, -1px -1px 2px #fff, 1px 1px 1px rgba(0, 0, 0, 0.3);*/
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }  
  
  .chicle-regular {
      font-family: "Chicle", serif;
      font-weight: 400;
      font-style: oblique;
  }

  .bungee-regularspice- {
    margin-bottom: 5px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style:normal;
  }  

  .sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    color:gold;
  }
